---
import Card from "./Card/index.astro";
import Experience from "./AllExperiences/Experience.astro";
import { getCollection } from "astro:content";
import Icon from "astro-icon";
interface Props {
  colSpan: string;
  rowSpan: string;
}

// "position" field in the JSON is used to determine the sorting order
// It sorts in ASC order (lesser position -> greater position)
const allExperiences = (await getCollection("experiences")).sort(
  (expA, expB) => expA.data.position - expB.data.position
);
const { colSpan, rowSpan } = Astro.props;
---

<style>
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .disabled-button {
    opacity: 30%;
  }
</style>

<script>
  const maxExpIndexEl: HTMLDivElement | null = document.querySelector(
    "[data-max-exp-index]"
  );
  const leftChveron: HTMLButtonElement | null = document.querySelector(
    "button.left-chevron"
  );
  const rightChveron: HTMLButtonElement | null = document.querySelector(
    "button.right-chevron"
  );

  const nbOfExperiences = Number(maxExpIndexEl?.dataset.maxExpIndex);
  let currentExperienceIndex = 0;

  rightChveron?.addEventListener("click", () => {
    if (currentExperienceIndex + 1 >= nbOfExperiences) return;

    // Hide current exp
    hideExp(currentExperienceIndex);
    // Show next exp
    showExp(++currentExperienceIndex);

    // Check whether button must be disabled (no more experiences left to move forward)
    if (currentExperienceIndex + 1 == nbOfExperiences) {
      rightChveron.disabled = true;
      rightChveron.classList.add("disabled-button");
    }

    // At this point, I moved to the right, so it is always possible to move to the left
    leftChveron.disabled = false;
    leftChveron.classList.remove("disabled-button");
  });

  leftChveron?.addEventListener("click", () => {
    if (currentExperienceIndex - 1 < 0) return;
    // Hide current exp
    hideExp(currentExperienceIndex);
    // Show next exp
    showExp(--currentExperienceIndex);

    // Check whether button must be disabled (no more experiences left to move backward)
    if (currentExperienceIndex == 0) {
      leftChveron.disabled = true;
      leftChveron.classList.add("disabled-button");
    }
    // At this point, I moved to the left, so it is always possible to move to the righ
    rightChveron.disabled = false;
    rightChveron.classList.remove("disabled-button");
  });

  function showExp(expIndex: number) {
    const nextExp = document.querySelector(`[data-exp="${expIndex}"]`);
    if (!nextExp) return;
    nextExp.classList.add("show");
    nextExp.classList.remove("hide");
  }

  function hideExp(expIndex: number) {
    const currentExp = document.querySelector(`[data-exp="${expIndex}"]`);
    if (!currentExp) return;
    currentExp.classList.add("hide");
    currentExp.classList.remove("show");
  }
</script>

<Card
  colSpan={`${colSpan || ""}`}
  rowSpan={`${rowSpan || ""}`}
  title="Experiences"
>
  <div
    class="flex flex-col justify-between h-full"
    data-max-exp-index={allExperiences.length}
  >
    <div class="flex flex-col gap-2 relative lg:h-[80%]">
      {
        allExperiences.map((experience, i) => (
          <div
            class={`absolute inset-y-0 ${i !== 0 ? "hide" : "show"}`}
            data-exp={i}
          >
            <Experience experience={experience.data} />
          </div>
        ))
      }
    </div>
    <div class="flex justify-between py-10 lg:py-0">
      <button class="left-chevron disabled-button" disabled>
        <Icon name="lucide:chevron-left" size="24px" />
      </button>
      <button class="right-chevron">
        <Icon class="" name="lucide:chevron-right" size="24px" />
      </button>
    </div>
    <p class="text-xs font-light">
      For more details, please check my <a
        href="https://www.linkedin.com/in/lemoslucas/"
        target="_blank"
        class="text-cyan-600">LinkedIn profile</a
      >
    </p>
  </div>
</Card>
